@import "hover";

header{
  color: #2f2f2f;
  text-align: center;

}

#logo{
  background-color: #D84830;
  left:3%;
  height: 120px;

}
#logoImage{
  position: absolute;
  left: 3%;
}

.container {
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.game{
  transition:0.5s;
  padding: 10px;
  &:hover{
    transform: scale(1.1);
  }

}


.buttonsContainer{
  background-color: #a03f2d;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 50px;
  width: 100%;

}


.menuButton{
  margin: 3%;
  width: 60px;
  height: 30px;
  border-radius: 3px;
  transition: 0.5s;
  margin-left: 5px;
  background-color: rgba(129, 130, 124, 1);
  border:1px solid black;
  cursor:pointer;
  text-shadow:0px 1px 0px rgba(85, 86, 80, 1);

  &:hover {
    background-color:rgba(85, 86, 80, 1) ;
  }
}

.getBack{
  float:left;
}






