header{
  text-align: center;
  background: url("img/bg.jpg");
}

.container {
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.game{
  padding: 10px;

}
.buttonsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  //height: 200px;
  //width: 100%;
}
.menuButton{
  margin: 1%;
  width: 60px;
  height: 30px;
}


