
.parent{
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.child{
  margin: auto;
  height: 100px;
  width: 25%;

}