header{
  text-align: center;
  background: url("img/bg.jpg");
}

//.topBg{
//  z-index: -1;
//  width: 100%;
//  height: 20%;
//  margin: auto;
//  }
//
//#bgImg{
//  @extend.topBg ;
//  opacity: 1;
// }

.container {
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.game{
  padding: 10px;

}
.buttonsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  //height: 200px;
  //width: 100%;
}
.menuButton{
  margin: 1%;
  width: 60px;
  height: 30px;
}


