body {
    background-color: black;
    color: white;
}
header {
    text-align: center;
}


button {
    border-radius: 5px;
    cursor: pointer;
    background-color: #deff23;
    width: 300px;
    height: 2em;
    margin: 15px;
}

span{
    padding-left:15px ;
    font-size: 1.5em;
}

.scoreHidden{
        /*float: inherit;*/
    display: none;
}

.scoreShown{

}

.warnings{

    float: right;
    opacity: 0;
    border-radius: 50% ;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: red;
    height: 55px;
    width: 45px;
    box-shadow: inset 3px 3px 4px #000;

}


.screen {
    background-color: #37bf2d;
    height: 600px;
    padding: 10px;
}

.screen2 {
    background-color: black;
    height: 600px;
    padding: 10px;
}

.balloon {
    border-radius: 50% ;
    background-color: #2c704c;
    height: 55px;
    width: 45px;
    position:absolute;
    left: 20px;
    box-shadow: inset 3px 3px 4px #000;

}
